  {{> head }}

    {{> navbar }}

    <div class="row">

    <div class="col-8">
       <h1>Hola mundo lore</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illo dolor voluptatum, quis officiis, quos sint voluptates ipsa fuga ut dolorum possimus porro, voluptatem magnam aperiam mollitia quasi accusamus quas.</p>
    </div>

    <div class="col-4">
       <img src="assets/img/infinity_symblo_PNG30.png" class="img-thumbnail">
    </div>


    </div>
    {{> footer}}